@import "./variable.scss";
@import "./components/buttons.scss";
@import "./components/cards.scss";
@import "./components/shapes.scss";
@import "./components/icons.scss";
@import "./components/tabs.scss";
@import "./components/progress-form.scss";
@import "./components/accordion.scss";
@import "./components/form-inputs.scss";

* {
    font-family: $font-default;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

h1, h2, h3 , h4, h5, h6{
    font-family: $font-heading;
    font-weight: 800;
    color: color(primary-0);
    text-transform: uppercase;
}

h4.open-sans{
    font-family: 'Open Sans', sans-serif;
    text-transform: none;

    &.semi-bold{
        font-weight: 700;
    }
}

a{
    text-decoration: underline;
    font-weight: bold;

    &.navy-blue{
        color: $navy-blue;
    }
    &.orange{
        color: $orange;
    }
}

.bg-navyblue{background: color(primary-0);}
.bg-lightyellow{background: color(primary-1);}
.bg-blue{background: color(additional-color-0);}
.bg-lightblue{background: color(additional-color-1);}
.bg-orange{background: color(additional-color-2);}
.bg-cyan{background: color(additional-color-3);}
.bg-fuschiapink{background: color(additional-color-4);}
.bg-black{background: color(additional-color-5);}
.bg-lightgray{background: color(additional-color-6)}
.bg-colorsnow{background: color(additional-color-7);}

// Bootstrap overwrite
.border-right{border-right:1px solid color(additional-color-6) !important;}
.border-left{border-left:1px solid color(additional-color-6) !important;}

// owl carousel overwrite
.custom-pawn.owl-carousel{
    position: relative;
  .owl-item{
      width: 300px;
      height: 350px;
      padding: .7% 0;

      &.active.center{
          z-index: 999;

        img{
          margin: auto;
          width: 120%;
          height: 110%;
          object-fit: cover;
          margin-left: -10%;
          margin-top: -5%;
          border-radius: 1em;

          @include box-shadow("true", (hAlign: 0, vAlign: 0, blur: 10px, spread: 2px), .5);
        }          
      }
      img{
          margin: auto;
          margin-top: 8%;
          width: 90%;
          height: 80%;
          object-fit: cover;
          transition: $transition;

      }
  }

  .owl-nav{
      position: absolute;
      top: 45%;
      left: 28.5%;
      width: 43%;
      display: flex;
      justify-content: space-between;
    .owl-prev, .owl-next{
        background: #fff;
        height: 38px;
        width: 38px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100em;

        transition: transform .3s cubic-bezier(0.25, 0.39, 0.39, 2.01);        
        @include box-shadow;
        &::before{
            position: absolute;
            @include psuedo-backgound-image-chevron;
        }
        
        &:hover{
            background: $navy-blue;
            transform: scale(.9);
            &::before{
                @include psuedo-backgound-image-chevron("chevron-white");
            }
        }
        span{
            display: none;
        }
    }
    .owl-prev{
        &::before{
            transform: rotate(-90deg);
            margin-right: 2px;
        }
    }
    .owl-next{
        &::before{
            transform: rotate(90deg);
            margin-left: 2px;
        }
    }
  }
}

// tags
.tag{
    height: 30px;
    padding:  5px 15px;
    border-radius: .5em;
    font-size: .9em;

    &.event{
        color: $primary-color-0;
        background: rgba($primary-color-0, $alpha: .1);
    }
    &.news{
        color: $primary-color;
        background: rgba($primary-color, $alpha: .1);
    }
}
