@import "./variable.scss";
@import "./components/buttons.scss";
@import "./components/cards.scss";
@import "./components/shapes.scss";
@import "./components/icons.scss";
@import "./components/tabs.scss";

* {
    font-family: $font-default;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

h1, h2, h3 , h4, h5, h6{
    font-family: $font-heading;
    font-weight: 800;
    color: color(primary-0);
    text-transform: uppercase;
}

a{
    text-decoration: underline;
    font-weight: bold;

    &.navy-blue{
        color: $navy-blue;
    }
    &.orange{
        color: $orange;
    }
}

.bg-navyblue{background: color(primary-0);}
.bg-lightyellow{background: color(primary-1);}
.bg-blue{background: color(additional-color-0);}
.bg-lightblue{background: color(additional-color-1);}
.bg-orange{background: color(additional-color-2);}
.bg-cyan{background: color(additional-color-3);}
.bg-fuschiapink{background: color(additional-color-4);}
.bg-black{background: color(additional-color-5);}
.bg-lightgray{background: color(additional-color-6)}
.bg-colorsnow{background: color(additional-color-7);}

// Bootstrap overwrite
.border-right{border-right:1px solid color(additional-color-6) !important;}
.border-left{border-left:1px solid color(additional-color-6) !important;}
