$colors: (
    primary-0: #2D41A0,
    primary-1: #FBC67A,
    additional-color-0: #2F42A8,
    additional-color-1: #2F42A8,
    additional-color-2: #FFA930,
    additional-color-3: #3690AC,
    additional-color-4: #E35A6C,
    additional-color-5: #2B2B2B,
    additional-color-6: #E2E2E2,
    additional-color-7: #F9F9F9
);