@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800|Open+Sans:400,600,700,800&display=swap");
.btn.pawn {
  background: #fbc67a;
  height: 50px;
  width: 145px;
  border-radius: 5em;
  border: none;
  transition: transform 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01);
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase; }
  .btn.pawn.active, .btn.pawn:hover {
    color: #868686;
    background: none;
    border: 1px solid #fbc67a;
    transform: scale(0.9); }
  .btn.pawn.no-background {
    background: none;
    border: none;
    color: #868686;
    -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7); }
    .btn.pawn.no-background.active, .btn.pawn.no-background:hover {
      background: #fbc67a;
      height: 50px;
      width: 145px;
      border-radius: 5em;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #ffffff; }
  .btn.pawn.outline {
    color: #868686;
    background: none;
    border: 1px solid #fbc67a; }
    .btn.pawn.outline.active, .btn.pawn.outline:hover {
      background: #fbc67a;
      color: #ffffff; }
  .btn.pawn.background.none {
    background: none; }
  .btn.pawn.next {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01); }
    .btn.pawn.next::before {
      transform: rotate(90deg);
      margin-left: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .btn.pawn.next.active, .btn.pawn.next:hover {
      background: #2e40a0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .btn.pawn.next.active::before, .btn.pawn.next:hover::before {
        content: "";
        width: 18px;
        height: 18px;
        background: url("../assets/icons/up-arrow-navy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/icons/up-arrow-white.svg"); }
  .btn.pawn.prev, .btn.pawn.back {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01); }
    .btn.pawn.prev::before, .btn.pawn.back::before {
      transform: rotate(-90deg);
      margin-right: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .btn.pawn.prev.active, .btn.pawn.prev:hover, .btn.pawn.back.active, .btn.pawn.back:hover {
      background: #2e40a0; }
      .btn.pawn.prev.active::before, .btn.pawn.prev:hover::before, .btn.pawn.back.active::before, .btn.pawn.back:hover::before {
        content: "";
        width: 18px;
        height: 18px;
        background: url("../assets/icons/up-arrow-navy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/icons/up-arrow-white.svg"); }
  .btn.pawn.accordion {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s cubic-bezier(0.25, 0.39, 0.39, 2.01);
    background-color: #2e40a0;
    transform: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out; }
    .btn.pawn.accordion::before {
      margin-top: 2px;
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../assets/icons/up-arrow-white.svg"); }
    .btn.pawn.accordion.active, .btn.pawn.accordion.show, .btn.pawn.accordion[aria-expanded=true] {
      background: #fbc67a; }
      .btn.pawn.accordion.active::before, .btn.pawn.accordion.show::before, .btn.pawn.accordion[aria-expanded=true]::before {
        transform: rotate(0);
        margin-bottom: 2px; }
  .btn.pawn:focus, .btn.pawn.active {
    outline: none; }

.circle {
  width: 5em;
  height: 5em;
  border-radius: 100em;
  background: #2e40a0; }
  .circle.large {
    width: calc(5em*2);
    height: calc(5em*2); }
  .circle.small {
    width: 4em;
    height: 4em; }

.icon {
  width: 50px;
  height: 50px;
  border-radius: 100em;
  background: url("../assets/icons/heartxpaw.svg");
  box-shadow: inset 50px 50px 50px 50px rgba(255, 169, 48, 0.1);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }
  .icon.paw-heart {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/heartxpaw.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(255, 169, 48, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.home {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/home.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(90, 112, 227, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.medication {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/medication.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(53, 145, 171, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.food-bowl {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/foodbowl.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(227, 90, 109, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; }
  .icon.volunteer {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/volunteer.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(53, 145, 171, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; }
  .icon.location {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/location.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(255, 169, 48, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%; }
  .icon.email {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/email.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(227, 90, 109, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.date {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/date.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(90, 112, 227, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%; }
  .icon.time {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/time.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(227, 90, 109, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }
  .icon.phone {
    width: 50px;
    height: 50px;
    border-radius: 100em;
    background: url("../assets/icons/phone.svg");
    box-shadow: inset 50px 50px 50px 50px rgba(90, 112, 227, 0.1);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }

.pawn.nav-tabs {
  width: 100%;
  display: flex;
  list-style-type: none;
  border-bottom: none; }
  .pawn.nav-tabs .nav-item {
    background: none; }
    .pawn.nav-tabs .nav-item .nav-link {
      font-family: "Nunito", sans-serif;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 18px;
      text-decoration: none;
      color: #e2e2e2;
      border-bottom: 3px solid  transparent;
      padding: 0 4px;
      padding-bottom: .2rem;
      transition: all 0.3s ease-in-out; }
      .pawn.nav-tabs .nav-item .nav-link.active, .pawn.nav-tabs .nav-item .nav-link:hover, .pawn.nav-tabs .nav-item .nav-link:focus {
        background: #ffffff;
        border-color: #ffffff;
        color: #ffa930;
        border-bottom: 3px solid #ffa930; }
    .pawn.nav-tabs .nav-item:first-child {
      margin-right: 1rem; }
    .pawn.nav-tabs .nav-item:not(:first-child) {
      margin: 0 1rem; }

.circle {
  width: 5em;
  height: 5em;
  border-radius: 100em;
  background: #2e40a0; }
  .circle.large {
    width: calc(5em*2);
    height: calc(5em*2); }
  .circle.small {
    width: 4em;
    height: 4em; }

.pawn.progress-form {
  width: 100%;
  display: flex;
  align-items: center; }
  .pawn.progress-form .progress-item {
    display: flex;
    align-items: center;
    position: relative; }
    .pawn.progress-form .progress-item .item {
      width: 40px;
      height: 40px;
      border-radius: 5em;
      border: 2px solid #e2e2e2;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center; }
      .pawn.progress-form .progress-item .item::before {
        transform: rotate(90deg);
        margin-left: 2px;
        content: "";
        width: 18px;
        height: 18px;
        background: url("../assets/icons/up-arrow-navy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/icons/up-arrow-lightgray.svg"); }
    .pawn.progress-form .progress-item .separator {
      height: 1px;
      width: 48px;
      margin: 0 8px;
      border: 1px solid #e2e2e2; }
    .pawn.progress-form .progress-item .label {
      position: absolute;
      bottom: -35px;
      left: -30px;
      width: 100px;
      text-align: center;
      transition: all 0.3s ease-in-out; }
    .pawn.progress-form .progress-item.check .item {
      border: 2px solid #ffa930;
      background: #ffa930; }
      .pawn.progress-form .progress-item.check .item::before {
        transform: none;
        content: "";
        width: 18px;
        height: 18px;
        background: url("../assets/icons/up-arrow-navy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/icons/checkmark-white.svg");
        background-size: 14px; }
    .pawn.progress-form .progress-item.current .item {
      border: 2px solid #ffa930; }
      .pawn.progress-form .progress-item.current .item::before {
        transform: rotate(180deg);
        margin-top: 2px;
        margin-left: 0;
        content: "";
        width: 18px;
        height: 18px;
        background: url("../assets/icons/up-arrow-navy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/icons/up-arrow-orange.svg"); }
    .pawn.progress-form .progress-item.current .label {
      color: #ffa930;
      font-weight: bold; }

.pawn.accordion .card {
  border-radius: 1em;
  color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7); }
  .pawn.accordion .card:not(:first-child) {
    margin: 15px 0; }
  .pawn.accordion .card .card-header {
    padding: 1rem 2.25rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .pawn.accordion .card .card-header[aria-expanded=true] {
      background-color: #2e40a0; }
      .pawn.accordion .card .card-header[aria-expanded=true] h5 {
        color: #fff; }
    .pawn.accordion .card .card-header h5 {
      transition: all 0.3s ease-in-out;
      color: #000000;
      cursor: pointer;
      text-transform: none; }
  .pawn.accordion .card .card-body {
    padding: 1rem 2.25rem;
    padding-bottom: 2rem;
    background-color: #2e40a0; }

.pawn.input {
  background: none;
  outline: none;
  border: 1px solid #868686;
  border-radius: .5em;
  padding: 15px;
  width: 100%; }
  .pawn.input:focus, .pawn.input.active {
    border-color: #2e40a0; }

.pawn.custom-radio-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .pawn.custom-radio-btn label {
    display: flex;
    align-items: center;
    color: #000;
    padding: 10px 20px;
    margin: 0 20px;
    text-align: right;
    cursor: pointer; }
    .pawn.custom-radio-btn label::after, .pawn.custom-radio-btn label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      background: none;
      border: 2px solid #868686;
      border-radius: 1em;
      transition: all 0.3s ease-in-out;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../assets/icons/checkmark-gray.svg");
      width: 24px;
      height: 24px;
      background-size: 40%; }
  .pawn.custom-radio-btn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none; }
    .pawn.custom-radio-btn input[type="radio"]:checked + label:before {
      border-color: #2e40a0;
      background-color: #2e40a0; }
    .pawn.custom-radio-btn input[type="radio"]:checked + label::after {
      border-color: #2e40a0;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../assets/icons/checkmark-white.svg");
      width: 24px;
      height: 24px;
      background-size: 40%; }

select {
  display: none; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #fff;
  width: 100%;
  height: 54px; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  border: 1px solid #868686;
  padding: 15px;
  border-radius: .5em; }
  .select-styled:active, .select-styled.active {
    border-color: #2e40a0; }
    .select-styled:active:after, .select-styled.active:after {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      background: url("../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      top: 20px;
      right: 15px; }

.select-options {
  display: none;
  position: absolute;
  top: 105%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: .5em;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.5); }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    color: #000;
    background-color: #fff; }
    .select-options li:hover {
      background: #f9f9f9; }
    .select-options li[rel="placeholder"] {
      display: none; }

* {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #2e40a0;
  text-transform: uppercase; }

h4.open-sans {
  font-family: 'Open Sans', sans-serif;
  text-transform: none; }
  h4.open-sans.semi-bold {
    font-weight: 700; }

a {
  text-decoration: underline;
  font-weight: bold; }
  a.navy-blue {
    color: #2e40a0; }
  a.orange {
    color: #ffa930; }

.bg-navyblue {
  background: #2e40a0; }

.bg-lightyellow {
  background: #fbc67a; }

.bg-blue {
  background: #2f42a7; }

.bg-lightblue {
  background: #5a70e3; }

.bg-orange {
  background: #ffa930; }

.bg-cyan {
  background: #3591ab; }

.bg-fuschiapink {
  background: #e35a6d; }

.bg-black {
  background: #2b2b2b; }

.bg-lightgray {
  background: #e2e2e2; }

.bg-colorsnow {
  background: #f9f9f9; }

.border-right {
  border-right: 1px solid #e2e2e2 !important; }

.border-left {
  border-left: 1px solid #e2e2e2 !important; }
