@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800|Open+Sans:400,600,700,800&display=swap");
.button {
  background: #2e40a0; }
  .button.background.none {
    background: none; }
  .button.next {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .button.next::before {
      transform: rotate(90deg);
      margin-left: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow.svg");
      background-size: contain; }
  .button.prev, .button.back {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .button.prev::before, .button.back::before {
      transform: rotate(-90deg);
      margin-right: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow.svg");
      background-size: contain; }
    .button.prev.background.none::before, .button.back.background.none::before {
      transform: rotate(-90deg);
      margin-right: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow-navy.svg");
      background-size: contain; }

.circle {
  width: 5em;
  height: 5em;
  border-radius: 100em;
  background: #2e40a0; }
  .circle.large {
    width: calc(5em*2);
    height: calc(5em*2); }
  .circle.small {
    width: 4em;
    height: 4em; }

* {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #2e40a0;
  text-transform: uppercase; }

.bg-navyblue {
  background: #2e40a0; }

.bg-lightyellow {
  background: #fbc67a; }

.bg-blue {
  background: #2f42a7; }

.bg-lightblue {
  background: #5a70e3; }

.bg-gold {
  background: #ffa930; }

.bg-cyan {
  background: #3591ab; }

.bg-fuschiapink {
  background: #e35a6d; }

.bg-black {
  background: #2b2b2b; }

.bg-lightgray {
  background: #e2e2e2; }

.bg-colorsnow {
  background: #f9f9f9; }

.border-right {
  border-right: 1px solid #e2e2e2 !important; }

.border-left {
  border-left: 1px solid #e2e2e2 !important; }
