html, body {
  margin: 0;
  padding: 0; }

* {
  font-family: "Open Sans", sans-serif; }

.sub-header-fluid {
  width: 60%;
  margin: auto; }

.sub-header {
  width: 65%;
  margin: auto; }

h2.heading {
  margin-top: 50px; }

.btn-seemore-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-seemore-container .btn.pawn {
    margin: 50px;
    height: 45px; }

nav {
  width: 100%;
  border-bottom: 1px solid #868686;
  position: absolute; }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .container .brand-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 30px 0; }
      nav .container .brand-container .brand {
        width: 50px;
        height: 50px;
        background-image: url("../assets/brand/logo-mark-white.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
      nav .container .brand-container .brand-name-container {
        margin: 0 20px;
        margin-top: 5px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        nav .container .brand-container .brand-name-container h5 {
          color: #fff;
          margin: 0; }
    nav .container .menu-navigation {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15%; }
      nav .container .menu-navigation li {
        position: relative;
        margin: 0 15px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center; }
        nav .container .menu-navigation li::before {
          content: "";
          position: absolute;
          bottom: -40.5px;
          left: 50%;
          right: 50%;
          border: 1px solid transparent;
          transition: all 0.3s ease-in-out; }
        nav .container .menu-navigation li a {
          text-decoration: none;
          color: #fff;
          font-weight: 300;
          text-transform: uppercase; }
        nav .container .menu-navigation li:hover::before, nav .container .menu-navigation li.active::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -40.5px;
          border: 1px solid #fbc67a; }
    nav .container .button-container {
      width: 190px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      nav .container .button-container .btn.pawn {
        width: 90px;
        height: 45px;
        font-size: 13px; }
        nav .container .button-container .btn.pawn:hover {
          border-color: #fff;
          color: #fff; }
        nav .container .button-container .btn.pawn.outline {
          border-color: #fff;
          color: #fff; }
          nav .container .button-container .btn.pawn.outline:hover {
            border: none; }

.content {
  overflow: hidden; }

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center; }
  .jumbotron.half-size {
    height: 75vh; }
    .jumbotron.half-size h1 {
      margin-top: 10vh; }
  .jumbotron h1 {
    font-weight: 800;
    color: #fff;
    width: 35%; }
  .jumbotron p {
    color: #fff;
    width: 35%; }
  .jumbotron .button-container {
    margin: 40px 0;
    display: inline-block; }
    .jumbotron .button-container .btn.pawn {
      height: 45px; }
      .jumbotron .button-container .btn.pawn:last-child {
        margin: 0 20px; }
      .jumbotron .button-container .btn.pawn:hover {
        border-color: #fff;
        color: #fff; }
    .jumbotron .button-container .btn.pawn.outline {
      border-color: #fff;
      color: #fff; }
      .jumbotron .button-container .btn.pawn.outline:hover {
        border: none; }

.homepage .jumbotron {
  background-image: url("../assets/images/hero-homepage.png"); }

.homepage .faq-container {
  width: 80%;
  height: 150px;
  margin: auto;
  border-radius: 10em;
  margin-top: -9.5%;
  background: #fff;
  padding: 30px 60px;
  -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7); }
  .homepage .faq-container .inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }

.homepage .what-wedo-container {
  padding: 40px auto;
  padding-bottom: 150px;
  background: #f9f9f9;
  position: relative; }
  .homepage .what-wedo-container .inner-container {
    width: 75%;
    margin: auto; }
    .homepage .what-wedo-container .inner-container .card-container {
      margin: 0 auto;
      margin-top: 80px;
      display: grid;
      width: 85%;
      grid-template-columns: repeat(2, 1fr); }
      .homepage .what-wedo-container .inner-container .card-container .card {
        margin: auto;
        background: #f9f9f9;
        border-radius: 0; }
        .homepage .what-wedo-container .inner-container .card-container .card .card-body {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 2rem; }
          .homepage .what-wedo-container .inner-container .card-container .card .card-body .icon {
            margin: 20px 0; }
  .homepage .what-wedo-container .counts-container {
    display: flex;
    width: 80%;
    left: 10%;
    top: 40px;
    position: absolute; }
    .homepage .what-wedo-container .counts-container .circle {
      -webkit-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 30px;
      margin: 0 auto; }
      .homepage .what-wedo-container .counts-container .circle h1 {
        margin: 5px 0; }

.homepage .featured-container {
  margin-top: 200px;
  margin-bottom: 70px; }

.homepage .news-events-container {
  background: #f9f9f9; }
  .homepage .news-events-container hr {
    margin-top: 80px; }
  .homepage .news-events-container .button-container {
    margin: 0 auto;
    width: 380px;
    margin-top: -35px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .homepage .news-events-container .button-container button {
      height: 45px; }
      .homepage .news-events-container .button-container button:hover {
        background: #fff; }
    .homepage .news-events-container .button-container button:first-child {
      width: 200px;
      text-transform: none; }
  .homepage .news-events-container .events-card-container {
    margin-top: 80px;
    padding: 0 115px; }

.homepage .blog-container .card-blog-container {
  margin-top: 80px; }

.about-page .jumbotron {
  background-image: url("../assets/images/hero-about.jpg"); }

.about-page .built-kennel-container {
  background: #f9f9f9; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container .shape.ellipse {
    left: 205px;
    top: 20px; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container img {
    margin-left: 100px;
    clip-path: none;
    transform: none;
    width: 50%;
    height: auto; }
  .about-page .built-kennel-container .pawn.nav-tabs {
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; }
    .about-page .built-kennel-container .pawn.nav-tabs .nav-item .nav-link {
      background: none;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      font-size: 22px; }

.about-page .slider-container {
  padding: 0;
  overflow: hidden;
  margin-top: 100px; }

.about-page .enrichment-programs-container {
  padding: 0 150px; }
  .about-page .enrichment-programs-container .card-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; }
    .about-page .enrichment-programs-container .card-container .card {
      -webkit-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.7);
      height: auto;
      border-radius: 1em;
      padding: 15px 10px; }

.about-page .people-behind-shelter-container {
  margin-top: -50px;
  padding: 100px 155px;
  background: #f9f9f9; }
  .about-page .people-behind-shelter-container .user-headshot-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px; }

.about-page .partner-container {
  padding-bottom: 50px; }
  .about-page .partner-container .partner-list-container {
    margin-top: 80px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 60px; }
    .about-page .partner-container .partner-list-container img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      object-position: center; }

.news-events-page .jumbotron {
  background-image: url("../assets/images/hero-about.jpg"); }
  .news-events-page .jumbotron h1 {
    width: auto; }

.footer {
  width: 100%;
  background: #2e40a0; }
  .footer .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0; }
    .footer .inner-container .links-container {
      color: #fff; }
      .footer .inner-container .links-container ul {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0; }
        .footer .inner-container .links-container ul li:first-child {
          position: relative;
          margin-right: 20px; }
        .footer .inner-container .links-container ul li:not(:first-child) {
          margin: 0 20px; }
        .footer .inner-container .links-container ul li a {
          color: #fff;
          text-transform: uppercase;
          font-weight: 400; }
    .footer .inner-container .social-media-container {
      color: #fff;
      display: flex;
      align-items: center; }
      .footer .inner-container .social-media-container i {
        margin: 0 5px;
        padding: 10px;
        cursor: pointer; }
        .footer .inner-container .social-media-container i.fa-instagram {
          font-size: 16px; }

@media (max-width: 1199.98px) {
  nav .container .menu-navigation {
    display: flex; }
  nav .container .button-container {
    display: none; }
  .jumbotron h1, .jumbotron p {
    width: 40%; }
  .content {
    overflow-x: hidden; }
  .homepage .faq-container {
    margin-top: -11%; }
  .homepage .what-wedo-container .inner-container .card-container {
    margin-top: 50px; }
  .homepage .what-wedo-container .counts-container {
    top: 60px; }
  .homepage .news-events-container hr {
    margin-top: 50px; }
  .homepage .news-events-container .events-card-container {
    padding: 0;
    margin-top: 50px; }
  .homepage .blog-container .card-blog-container {
    margin-top: 50px; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container .shape.ellipse {
    left: 150px;
    top: 20px;
    width: 240px;
    height: 240px; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container div {
    width: 450px; }
    .about-page .built-kennel-container .pawn.media.image-left-align .image-container div img {
      margin-left: 50px;
      width: 65%; }
  .about-page .enrichment-programs-container {
    padding: 0 100px; } }

@media (max-width: 991.98px) {
  .sub-header-fluid {
    width: 80%; }
  .sub-header {
    width: 90%; }
  .card.border-right, .card.border-top {
    border: none !important; }
  nav .container .menu-navigation {
    display: none; }
  .jumbotron h1, .jumbotron p {
    width: 55%; }
  .homepage .faq-container {
    margin-top: -15%;
    width: 90%;
    padding: 20px 40px; }
  .homepage .what-wedo-container .inner-container .card-container {
    width: 100%; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container .shape.ellipse {
    left: 80px;
    width: 190px;
    height: 190px; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container div {
    width: 350px; }
    .about-page .built-kennel-container .pawn.media.image-left-align .image-container div img {
      margin-left: 0; }
  .about-page .enrichment-programs-container {
    padding: 0; }
  .about-page .people-behind-shelter-container {
    padding: 100px 0; }
    .about-page .people-behind-shelter-container .partner-list-container {
      padding: 0; } }

@media (max-width: 767.98px) {
  .sub-header-fluid {
    width: 100%; }
  .sub-header {
    width: 100%; }
  nav .container .brand-container {
    margin: 20px 0; }
  .jumbotron h1, .jumbotron p {
    width: 90%; }
  .jumbotron .button-container .btn.pawn {
    width: 110px;
    height: 40px; }
  .homepage .faq-container {
    height: 115px;
    padding: 20px;
    margin-top: -25%; }
    .homepage .faq-container .inner-container p {
      overflow: hidden; }
  .homepage .what-wedo-container {
    padding-bottom: 355px; }
    .homepage .what-wedo-container .inner-container {
      width: 90%; }
      .homepage .what-wedo-container .inner-container p {
        margin-top: 20px; }
      .homepage .what-wedo-container .inner-container .card-container {
        grid-template-columns: repeat(1, 1fr); }
    .homepage .what-wedo-container .counts-container {
      flex-direction: column;
      height: 580px;
      justify-content: space-between; }
  .homepage .featured-container {
    margin-top: 320px;
    padding-bottom: 30px; }
  .homepage .news-events-container .button-container {
    width: 100%; }
  .about-page .built-kennel-container .pawn.media.image-left-align .image-container {
    margin-top: 50px;
    padding-bottom: 50px; }
    .about-page .built-kennel-container .pawn.media.image-left-align .image-container .shape.ellipse {
      top: -60px;
      width: 220px;
      height: 220px; }
    .about-page .built-kennel-container .pawn.media.image-left-align .image-container div {
      width: 60%;
      margin: auto; }
      .about-page .built-kennel-container .pawn.media.image-left-align .image-container div img {
        width: 100%;
        margin-left: 0; }
  .about-page .enrichment-programs-container .card-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: 1fr; }
  .about-page .people-behind-shelter-container .user-headshot-container {
    grid-template-columns: 1fr; }
  .about-page .partner-container .partner-list-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0; }
  .footer .inner-container {
    margin: 20px 0; }
    .footer .inner-container ul {
      flex-direction: column; }
      .footer .inner-container ul li {
        padding: 0; }
        .footer .inner-container ul li:first-child {
          margin-right: 20px; }
        .footer .inner-container ul li:not(:first-child) {
          margin: 20px 0; } }

@media only screen and (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
  nav .container .brand-container {
    margin: 0; }
  .jumbotron h1 {
    margin-top: 15px; }
  .jumbotron .button-container {
    margin: 10px 0; }
  .homepage .faq-container {
    height: 110px;
    padding: 10px;
    margin-top: -12%; }
    .homepage .faq-container .inner-container p {
      overflow: hidden; } }

@media (max-width: 575.98px) {
  nav .container .brand-container {
    margin: 20px 0; }
  .jumbotron.half-size {
    height: 100vh; }
  .jumbotron h1 {
    margin-top: 30px; }
  .jumbotron h1, .jumbotron p {
    width: 100%; }
  .homepage .faq-container {
    width: 100%;
    margin-top: -28%;
    word-break: break-all; }
  .homepage .featured-container {
    margin-bottom: 0; }
  .about-page .jumbotron {
    height: 100vh; }
    .about-page .jumbotron h1 {
      margin-top: 0; } }

@media only screen and (max-width: 767.98px) and (orientation: landscape) {
  nav .container .brand-container {
    margin: 0; }
  .jumbotron h1 {
    margin-top: 50px; }
  .jumbotron .button-container {
    margin: 10px 0; }
  .homepage .faq-container {
    display: none; }
  .homepage .what-wedo-container {
    padding-bottom: 135px; }
    .homepage .what-wedo-container .inner-container {
      width: 80%; }
    .homepage .what-wedo-container .counts-container {
      flex-direction: row;
      width: 100%;
      left: 0;
      top: 40px; }
  .homepage .featured-container {
    margin-top: 100px; }
  .homepage .news-events-container .button-container {
    width: 60%; } }
