@import "../variable.scss";
@import "../mixin.scss";

$transition-default: $transition;
$transition: transform .3s cubic-bezier(0.25, 0.39, 0.39, 2.01);
$transform-scale: scale(.9);

@mixin circle {
    width: $circle-default-size;
    height: $circle-default-size;
    border-radius:100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;

    @include box-shadow();
    transition: $transition;
}

@mixin btn-pawn-outline{
    color: $gray;
    background: none;
    border: 1px solid $light-yellow;
}

@mixin btn-pawn-default{
    background: $light-yellow;
    height: 50px;
    width: 145px;
    border-radius: 5em;
    border: none;
}
//------------------------------------------

.btn.pawn{
    @include btn-pawn-default;
    transition: $transition;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    &.active, &:hover{
        @include btn-pawn-outline;
        transform: $transform-scale;
    }

    // button no backgound and outline
    &.no-background{
        background: none;
        border: none;
        color: #868686;

        @include box-shadow();
        &.active, &:hover{
            @include btn-pawn-default;
            @include box-shadow(none);
            color: #ffffff;            
        }
    }
    
    &.none{
        background: none;
        color: $primary-color;
        text-transform: none;
        text-decoration: underline;
        border: none;

        &:hover{
            transform: none;
        }
    }

    // button outline only
    &.outline{
        @include btn-pawn-outline;
        &.active, &:hover{
            background: $light-yellow;
            color: #ffffff;
        }
    }
    
    // Background
    &.background{
        &.none{
            background: none;
        }
    }

    &.next{
        @include circle;
        &::before{
            transform: rotate(90deg);
            margin-left: 2px;
            @include psuedo-backgound-image-chevron;
        }
        &.active, &:hover{
            background: $navy-blue;
            @include box-shadow(none);
            &::before{
                @include psuedo-backgound-image-chevron("chevron-white");
            }
        }
    }
    &.prev, &.back{
        @include circle;
        &::before{
            transform: rotate(-90deg);
            margin-right: 2px;
            @include psuedo-backgound-image-chevron;
        }
        &.active, &:hover{
            background: $navy-blue;
            &::before{
                @include psuedo-backgound-image-chevron("chevron-white");
            }
        }
    }
    &.accordion{
        @include circle;
        background-color: $navy-blue;
        transform: none;
        box-shadow: none;
        transition: $transition-default;
        
        &::before{
            margin-top: 2px;
            transform: rotate(180deg);
            transition: $transition-default;

            @include psuedo-backgound-image-chevron("chevron-white");
        }

        &.active, &.show, &[aria-expanded=true]{
            background: $light-yellow;
            &::before{
                transform: rotate(0);
                margin-bottom: 2px;
            }
        }
    }

    &:focus, &.active{
        outline: none;
        box-shadow: none;
    }
}