@import "../variable.scss";
@import "../mixin.scss";

@mixin psuedo-backgound-image-chevron{
    content: "";
    width: $circle-icon-size;
    height: $circle-icon-size;
    background: url('../../assets/icons/up-arrow-white.svg');
    background-size: contain;
}
@mixin psuedo-background-image-chevron-navy{
    content: "";
    width: $circle-icon-size;
    height: $circle-icon-size;
    background: url('../../assets/icons/up-arrow-navy.svg');
    background-size: contain;
}

@mixin circle {
    width: $circle-default-size;
    height: $circle-default-size;
    border-radius:100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;

    @include box-shadow();
    transition: $transition;
}

@mixin btn-pawn-outline{
    color: $gray;
    background: none;
    border: 1px solid $light-yellow;
}

@mixin btn-pawn-default{
    background: $light-yellow;
    height: 50px;
    width: 145px;
    border-radius: 5em;
    border: none;
}


$transition: transform .4s cubic-bezier(0.25, 0.39, 0.39, 2.01);
$transform-scale: scale(.9);

//------------------------------------------

.btn.pawn{
    @include btn-pawn-default;
    transition: $transition;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    &.active, &:hover{
        @include btn-pawn-outline;
        transform: $transform-scale;
    }

    // button no backgound and outline
    &.no-background{
        background: none;
        border: none;
        color: #868686;

        @include box-shadow();
        &.active, &:hover{
            @include btn-pawn-default;
            @include box-shadow(none);
            color: #ffffff;            
        }
    }   

    // button outline only
    &.outline{
        @include btn-pawn-outline;
        &.active, &:hover{
            background: $light-yellow;
            color: #ffffff;
        }
    }
    
    // Background
    &.background{
        &.none{
            background: none;
        }
    }

    &.next{
        @include circle;
        &::before{
            transform: rotate(90deg);
            margin-left: 2px;
            @include psuedo-background-image-chevron-navy;
        }
        &.active, &:hover{
            background: $navy-blue;
            @include box-shadow(none);
            &::before{
                @include psuedo-backgound-image-chevron;
            }
        }
    }
    &.prev, &.back{
        @include circle;
        &::before{
            transform: rotate(-90deg);
            margin-right: 2px;
            @include psuedo-background-image-chevron-navy;
        }
        &.active, &:hover{
            background: $navy-blue;
            &::before{
                @include psuedo-backgound-image-chevron;
            }
        }
    }

    &:focus, &.active{
        outline: none;
    }
}