$border-radius-size: 1em;
$card-medium-size: 450px;

.card{
    border:none;
    display: flex;
    
    &.card-img-top{      
        &.md{
            width: $card-medium-size - 180;
            height: $card-medium-size - 60;
        }

        &.curve-side{
            border-radius: $border-radius-size;
                
            img{
                border-top-right-radius: $border-radius-size;
                border-top-left-radius: $border-radius-size;
            }
            .card-body{
                border-bottom-left-radius: $border-radius-size;
                border-bottom-right-radius: $border-radius-size;
            }
    
        }
        img{
            width: 100%;
            height: $card-medium-size - 300;

            object-fit: cover;
            object-position:top center;
        }
    }

    &.card-img-left{
        flex-direction: row;
        
        &.md{
            width: $card-medium-size;
            height: $card-medium-size - 250;
        }
        &.curve-side{
            border-radius: $border-radius-size;
                
            img{
                border-top-left-radius: $border-radius-size;
                border-bottom-left-radius: $border-radius-size;
            }
            .card-body{
                border-top-right-radius: $border-radius-size;
                border-bottom-right-radius: $border-radius-size;
            }
    
        }

        .card-body{
            width: 60%;
        }
        img{
            width: 40%;
            height: 100%;
            object-fit: cover;
            object-position:center;
        }
    }
}