$border-radius-size: 1em;
$card-medium-size: 320px;

.card{
    border:none;

    &.curve-side{
    border-radius: $border-radius-size;
        
        img{
            border-top-right-radius: $border-radius-size;
            border-top-left-radius: $border-radius-size;
        }
        .card-body{
            border-bottom-left-radius: $border-radius-size;
            border-bottom-right-radius: $border-radius-size;
        }

    }
    
    .card-img-top{
        height: 180px;
        object-fit: cover;
        object-position: top center;
    }
    &.md{
        width: $card-medium-size;
    }
}