$opacity: .1;

@mixin icon($url: url('../assets/icons/heartxpaw.svg'),$bg-color: rgba(255, 169, 48, $opacity), $size: 50px) {
    width: $size;
    height: $size;
    border-radius: 100em;
  
    background: $url;
    box-shadow: inset $size $size $size $size $bg-color;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

.icon{
    @include icon;
    &.paw-heart{
        @include icon;
    }
    &.home{
        @include icon(url('../assets/icons/home.svg'), rgba(90, 112, 227, $opacity));
    }
    &.medication{
        @include icon(url('../assets/icons/medication.svg'), rgba(53, 145, 171, $opacity));
    }
    &.food-bowl{
        @include icon(url('../assets/icons/foodbowl.svg'), rgba(227, 90, 109, $opacity));
        background-size: 60%;
    }
    &.volunteer{
        @include icon(url('../assets/icons/volunteer.svg'), rgba(53, 145, 171, $opacity));
        background-size: 60%;
    }
    &.location{
        @include icon(url('../assets/icons/location.svg'), rgba(255, 169, 48, $opacity));
        background-size: 35%;
    }
    &.email{
        @include icon(url('../assets/icons/email.svg'), rgba(227, 90, 109, $opacity));
    }
    &.date{
        @include icon(url('../assets/icons/date.svg'), rgba(90, 112, 227, $opacity));
        background-size: 40%;
    }
    &.time{
        @include icon(url('../assets/icons/time.svg'), rgba(227, 90, 109, $opacity));
    }
    &.phone{
        @include icon(url('../assets/icons/phone.svg'), rgba(90, 112, 227, $opacity));
    }

}