.circle{
    width: 5em;
    height: 5em;
    border-radius: 100em;
    background: color(primary-0);

    &.large{
        width: calc(5em*4);
        height: calc(5em*4);
    }

    &.medium{
        width: calc(5em*3);
        height: calc(5em*3);
    }

    &.small{
        width: 4em;
        height: 4em;
    }
}