.btn-pawn {
  background: color(primary-1);
  height: 50px;
  width: 145px;
  border-radius: 5em;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase; }
  .btn-pawn.active, .btn-pawn:hover {
    color: #868686;
    background: none;
    border: 1px solid color(primary-1); }
  .btn-pawn.no-background {
    background: none;
    border: none;
    color: #868686; }
    .btn-pawn.no-background.active, .btn-pawn.no-background:hover {
      background: color(primary-1);
      height: 50px;
      width: 145px;
      border-radius: 5em;
      border: none;
      color: #ffffff; }
  .btn-pawn.outline {
    color: #868686;
    background: none;
    border: 1px solid color(primary-1); }
    .btn-pawn.outline.active, .btn-pawn.outline:hover {
      background: color(primary-1);
      color: #ffffff; }
  .btn-pawn.background.none {
    background: none; }
  .btn-pawn.next {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .btn-pawn.next::before {
      transform: rotate(90deg);
      margin-left: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      transition: all 0.3s ease-in-out; }
    .btn-pawn.next.active, .btn-pawn.next:hover {
      background: color(primary-0); }
      .btn-pawn.next.active::before, .btn-pawn.next:hover::before {
        content: "";
        width: 18px;
        height: 18px;
        background: url("../../assets/icons/up-arrow.svg");
        background-size: contain;
        transition: all 0.3s ease-in-out; }
  .btn-pawn.prev, .btn-pawn.back {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .btn-pawn.prev::before, .btn-pawn.back::before {
      transform: rotate(-90deg);
      margin-right: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow-navy.svg");
      background-size: contain;
      transition: all 0.3s ease-in-out; }
    .btn-pawn.prev.active, .btn-pawn.prev:hover, .btn-pawn.back.active, .btn-pawn.back:hover {
      background: color(primary-0); }
      .btn-pawn.prev.active::before, .btn-pawn.prev:hover::before, .btn-pawn.back.active::before, .btn-pawn.back:hover::before {
        content: "";
        width: 18px;
        height: 18px;
        background: url("../../assets/icons/up-arrow.svg");
        background-size: contain;
        transition: all 0.3s ease-in-out; }
  .btn-pawn:focus, .btn-pawn.active {
    outline: none; }
