.button {
  background: color(primary-0); }
  .button.background.none {
    background: none; }
  .button.next {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .button.next::before {
      transform: rotate(90deg);
      margin-left: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow.svg");
      background-size: contain; }
    .button.next.background.none::before {
      transform: rotate(90deg);
      margin-left: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow-navy.svg");
      background-size: contain; }
  .button.prev, .button.back {
    width: 40px;
    height: 40px;
    border-radius: 100em;
    display: flex;
    align-items: center;
    justify-content: center; }
    .button.prev::before, .button.back::before {
      transform: rotate(-90deg);
      margin-right: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow.svg");
      background-size: contain; }
    .button.prev.background.none::before, .button.back.background.none::before {
      transform: rotate(-90deg);
      margin-right: 2px;
      content: "";
      width: 18px;
      height: 18px;
      background: url("../../assets/icons/up-arrow-navy.svg");
      background-size: contain; }
