.card {
  border: none; }
  .card.curve-side {
    border-radius: 1em; }
    .card.curve-side img {
      border-top-right-radius: 1em;
      border-top-left-radius: 1em; }
    .card.curve-side .card-body {
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em; }
  .card .card-img-top {
    height: 180px;
    object-fit: cover;
    object-position: top center; }
  .card.md {
    width: 320px; }
