.card {
  border: none;
  display: flex; }
  .card.card-img-top.md {
    width: 270px;
    height: 390px; }
  .card.card-img-top.curve-side {
    border-radius: 1em; }
    .card.card-img-top.curve-side img {
      border-top-right-radius: 1em;
      border-top-left-radius: 1em; }
    .card.card-img-top.curve-side .card-body {
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em; }
  .card.card-img-top img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top center; }
  .card.card-img-left {
    flex-direction: row; }
    .card.card-img-left.md {
      width: 450px;
      height: 200px; }
    .card.card-img-left.curve-side {
      border-radius: 1em; }
      .card.card-img-left.curve-side img {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em; }
      .card.card-img-left.curve-side .card-body {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em; }
    .card.card-img-left .card-body {
      width: 60%; }
    .card.card-img-left img {
      width: 40%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
